{# src/Provider/AlmaBundle/Resources/views/Default/index,html.twig #}
{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% extends '::base.html.twig' %}

{% block body %}
  <h1>Proxy Error</h1>
  <p>The proxy server received an invalid response from an upstream server.<br />
    The proxy server could not handle the request <em><a href="{{ currentPath }}">GET&nbsp;{{ currentPath }}</a></em>.
    <p>Reason: <strong>Error reading from remote server</strong></p>
  </p>
{% endblock %}
