{# src/Provider/AlmaBundle/Resources/views/Default/index,html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
  <div class="wrapper">
    <h2>Index page of alma mock provider service.</h2>
    <h3>Supported endpoints:</h3>
    <p><a href="/web/alma/catalogue/availability">/alma/catalogue/availability</a></p>
    <p><a href="/web/alma/patron/debts">/alma/patron/debts</a></p>
    <p><a href="/web/alma/patron/informationExtended">/alma/patron/informationExtended</a></p>
    <p><a href="/web/alma/patron/loans">/alma/patron/loans</a></p>
    <p><s><a href="/web/alma/patron/loans/renew">/alma/patron/loans/renew</a></s></p>
    <p><a href="/web/alma/patron/reservations">/alma/patron/reservations</a></p>
    <p><s><a href="/web/alma/patron/reservations/add">/alma/patron/reservations/add</a></s></p>
    <p><s><a href="/web/alma/patron/reservations/change">/alma/patron/reservations/change</a></s></p>
    <p><a href="/web/alma/patron/preferences/change">/alma/patron/preferences/change</a></p>
    <p><a href="/web/alma/reservation/branches">/alma/reservation/branches</a></p>
    <p><a href="/web/alma/organisation/branches">/alma/organisation/branches</a></p>
    <p><a href="/web/alma/organisation/departments">/alma/reservation/departments</a></p>
    <p><a href="/web/alma/organisation/locations">/alma/reservation/locations</a></p>
    <p><a href="/web/alma/organisation/subLocations">/alma/reservation/subLocations</a></p>
    <p><a href="/web/alma/organisation/collections">/alma/reservation/collections</a></p>
  </div>
{% endblock %}
